<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="ASPClassic" />
            <add name="ASPClassic" path="*.aspx" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <remove value="index.aspx" />
                <remove value="index.aspx" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <!--<staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>-->
    </system.webServer>
</configuration>
